.pic{
	
	width: auto ;
	max-width: 100% ;
	height: auto ;
}
.img{
	padding-left:280px;
	width: auto ;
	max-width: 100% ;
	height: auto ;
	
}

.aligncenter {
    text-align: center;
}


.budget
{
	padding-left: 50px;
}
    
